#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    background-color: $color-background;
}

ul {
    list-style: none;
    background-color: $color-surface;
    width: 100%;
}

li {
    display: inline-block;
    padding: 1em;
   
}






