.nav {
    &__inner {
        padding-left: 0;
        list-style: none;
        display: flex;
    }

    &__item {
        color: white;
        margin-right: 1rem; 
    }

    &__link {
        color: white;
        text-decoration: none;
    }

    &__link--active {
        color: $color-primary;
    }
}