.product {
    background: white;
    padding: 0.2em 1em 3.5em 1em;
    position: relative;
    border-radius: 10px;
    color: $color-secondary;
    font-size: 15px;
    border: 1px solid black;

    &__title {
        color: $color-primary;
        font-size: 18px;
    }

    &__button {
        padding: 1em;
        background-color: $color-secondary;
        border: none;
    }

    &--label {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 1em;
        box-sizing: border-box;
        border-radius: 0 0 10px 18px;
    }

    &--special::before {
        @extend .product--label;
        background: $color-special;
        content: "Special";
        color: $color-primary;
    }

    &--sold-out::before {
        @extend .product--label;
        background-color: $color-sold-out;
        content: "Sold Out";
        color: white;
    }
}