$color-primary: #88342b;
$color-secondary: #93b82b;
$color-ui-primary: rgb(250, 246, 246);
$color-ui-shadow: rgba(73, 75, 118, 6.872);
$color-background: #eddfdf;
$color-special: rgb(242, 242, 13);
$color-sold-out: #d72410;
$font-primary: 'Open Sans', sans-serif;



