@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


h1 {
    color: $color-primary;
    margin-top: 1em;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}

p {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}