body {
    background-color: $color-background;
}

ul {
    list-style: none;
    background-color: #2B2C2B;
    width: 100%;
}

li {
    display: inline-block;
    padding: 1em;
   
}

.btn-primary {
    background-color: $color-primary;
}

.btn-secondary {
    background-color: $color-secondary;
}